# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Static and Dynamic Libraries
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

# IDE - CLion / JetBrains
.idea/
cmake-build-*/
*.iws
out/

# IDE - Visual Studio (in case you open it there)
.vs/
vcpkg/installed/
*.sln
*.vcxproj
*.user

# Operating System
Thumbs.db
Desktop.ini
.DS_Store