<h3>
    {{NAME}}
</h3>
{{DESCRIPTION_SECTION}}
<p>
    <b>
        Executable:
    </b>
    <code>
        {{EXECUTABLE}}
    </code>
</p>
{{CATEGORY_SECTION}}
{{ICON_SECTION}}
<hr>
<h4>
    Configuration Options
</h4>
<p>
    <b>
        Common Command-Line Flags:
    </b>
</p>
<ul>
    <li>
        <code>
            --help
        </code>
        - Display help information
    </li>
    <li>
        <code>
            --version
        </code>
        - Show version information
    </li>
    <li>
        <code>
            --config &lt;file&gt;
        </code>
        - Specify config file
    </li>
</ul>
<p>
    <b>
        Window Positioning:
    </b>
</p>
<ul>
    <li>
        Position handling: Default (system-managed)
    </li>
    <li>
        Launch behaviour: Normal window
    </li>
    <li>
        Workspace: Current workspace
    </li>
</ul>
{{METADATA_SECTION}}
